<appSettings>   

   <!-- Twilio-->
   <add key="TwilioSid" value="AC76ab7e805724ab017f284868f8887a3e" />
   <add key="TwilioToken" value="3e8cf4bd0901945644b41957b739b75b" />
   <add key="TwilioFromPhone" value="+17274781803" />

   <add key="GoogClientID" value="1.apps.googleusercontent.com" />
   <add key="GoogClientSecret" value="My Google client secret." />
	
  	<!-- Stripe --> 
	<!--<add key="StripePublishableKey" value="pk_live_f1y4XuopLX0IxGKoZs5lsCg7" />-->
	<add key="StripePublishableKey" value="pk_test_ruGnULhtVcA3ZT25yJR58I9W" />		
	
	<!--<add key="StripeApiKey" value="sk_live_84QbyXeo4fxzq4rJYmedNjH7" />-->
	<add key="StripeApiKey" value="sk_test_APod0RggEGbQVC7DcrQF49TF" />

	<add key="recaptchaPublicKey" value="6Ldd9_8SAAAAAA8h6mEBaV6t9JA_n_wLRB4hlccE" />
	<add key="recaptchaPrivateKey" value="6Ldd9_8SAAAAAB6eUCDp-sb4zoYjLcinVS0M9ryP" />

	<!--Mongo-->
	<add key="MongoConnectionString" value="mongodb://localhost:27017" />
	<add key="MongoLogDataBaseName" value="cartLog" />
	<add key="MongoStripeDataBaseName" value="stripeLog"></add>

	<!-- SendGrid-->
	<add key="SendGridApiKey" value="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" />
   <add key="mailAccount" value="My mail account." />
   <add key="mailPassword" value="My mail password." />
	<!--Azure Settings-->
	<add key="StorageAccountName" value="jimfinstorage"/>
	<add key="StorageAccountAccessKey" value="yvKbNPTZkl6e3GFT5nq1l1tUc1GpDqc9nC3UfDZvXP4UOvITAQ3fqz5wXuZ/sVGAvtBYwdT0KuHB7Rrm1Q438g=="/>
	<add key="ImageContainerName" value="product-images"/>
	<!--<add key="StorageAccountName" value="eficentralblobstorage"/>
	<add key="StorageAccountAccessKey" value="ijAax/MTlbO3kYep3SvXkUpN3tPP2lhjrZytKRvsIMWWizBJG5u85DnkZZY/ScdUmgPxOQcSZQr77z+0XMCIKQ=="/>
	<add key="ImageContainerName" value="productimages"/>-->
	
</appSettings>